/* Write your code here. */
.bg {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  padding: 20px;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

.card {
  background-color: #cffafe;
  padding: 30px;
  border-radius: 16px;
  width: 50vw;
  text-align: center;
}
